build*
*.kdev4
*.o
.deps
.dirstamp
AUTHORS
COPYING
INSTALL
Makefile
Makefile.am
Makefile.in
NEWS
aclocal.m4
autom4te.cache
ChangeLog
compile
config.*
configure
depcomp
drex
install-sh
libtool
ltmain.sh
missing

